:root{
    --primaryColor: white;
    --secondaryColor: black;
    --actioncolor: orange;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);;
    color: #e0e8f0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

header{
    text-align: center;
}

main{
    /* max-height: fit-content; */
    background: var(--primaryColor);
    /* background: white; */
    color: var(--secondaryColor);
    border-radius: 1em;
    padding: .5em;

    /* z-index: 12; 
    i do not need this*/
}

.taskAddingField{
    /* background: #000; */
    /* padding: 10px; */
    /* padding: auto; */
    height: 6vh;

    /* justify-content: ;/ */
    /* gap: 0.5em; */
    display: flex;
    justify-content: center;
    /*  */
    align-items: center;
}

.btnRow{
    /* height: inherit; */
    display: flex;
    align-items: center;
    background: #e6e6e6;
    /* filter: grayscale(); */
    border-radius: 1em;
    border: 2px solid;
}

.taskInput{
    /* background: #000; */
    border-radius: 1em 0 0 1em;
    padding: 0.2em 1em;
    background: transparent;
    border: none;
    outline: none;
    /* height: 4vh; */
    /* margin: auto 0; */
       
}

.taskAddBtn{
    /* height: 4vh; */
    padding: 0.2em 1em;
    border-radius: 0 1em 1em 0;
    border: none;
    /* border: .2em solid; */
    background: var(--actioncolor);
}

.taskAddBtnActive {
    filter: grayscale(.5);
}

.taskListWrapper{
    padding: .5em;
    padding-top: 0;
}

.taskList{
    max-height: 44vh;
    padding: 1em;
    overflow-y: auto;
    /* background: #000; */
}

.task{
    margin: 0.2em 0;
    text-align: justify;

    display: flex;
    align-items: center; 
    /* display: grid; */
    /* grid-template-columns: 1px auto 5px; */
    gap: .5em;
    /* border: 1px solid; */
    border-radius: 0.5em;
    padding: 0 1em;
    width: inherit;
    min-width: fit-content;
    max-width: 40vw;
    cursor: pointer;
}

input[type="checkbox"]{
    cursor: pointer;
}

::-webkit-scrollbar{
    width: .5em;
    border-radius: 1em;
}

::-webkit-scrollbar-thumb{
    /* background: #acacac; */
    background: var(--actioncolor);
    border-radius: 1em;
}

h5{
    text-align: center;
    padding-bottom: 2em;
}

.completed{
    text-decoration: line-through;
    filter: grayscale(1) opacity(0.3);
}

@media (prefers-color-scheme:dark) {
    body{
        background: #000;
    }
}

.delete{
    height: .8em;
    width: fit-content;
    /* justify-self: end; */
    /* justify-content: end; */
    /* align-items: end; */
    /* align-self: flex-end; */
    margin-left: auto;
}