:root{
    --primaryColor: white;
    --secondaryColor: black;
    --actioncolor: orange;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);;
    color: #e0e8f0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

header{
    text-align: center;
}

main{
    background: var(--primaryColor);
    color: var(--secondaryColor);
    border-radius: 1em;
    padding: .5em;
}

.taskAddingField{
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnRow{
    display: flex;
    align-items: center;
    background: #e6e6e6;
    border-radius: 1em;
    border: 2px solid;
}

.taskInput{
    border-radius: 1em 0 0 1em;
    padding: 0.2em 1em;
    background: transparent;
    border: none;
    outline: none;       
}

.taskAddBtn{
    padding: 0.2em 1em;
    border-radius: 0 1em 1em 0;
    border: none;
    background: var(--actioncolor);
}

.taskAddBtnActive {
    filter: grayscale(.5);
}

.taskListWrapper{
    padding: .5em;
    padding-top: 0;
}

.taskList{
    max-height: 44vh;
    padding: 1em;
    overflow-y: auto;
}

.task{
    margin: 0.2em 0;
    text-align: justify;
    display: flex;
    align-items: center; 
    gap: .5em;
    border-radius: 0.5em;
    padding: 0 1em;
    width: inherit;
    min-width: fit-content;
    max-width: 40vw;
    cursor: pointer;
}

input[type="checkbox"]{
    cursor: pointer;
}

::-webkit-scrollbar{
    width: .5em;
    border-radius: 1em;
}

::-webkit-scrollbar-thumb{
    background: var(--actioncolor);
    border-radius: 1em;
}

h5{
    text-align: center;
    padding-bottom: 2em;
}

.completed{
    text-decoration: line-through;
    filter: grayscale(1) opacity(0.3);
}

@media (prefers-color-scheme:dark) {
    body{
        background: #000;
    }
}

.delete{
    height: .8em;
    width: fit-content;
    margin-left: auto;
}